{% extends 'uifiles/base.html' %}
{% load static %}
{% block content %}
        <!-- Start breadcumb Area -->
        <div class="page-area">
            <div class="breadcumb-overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="breadcrumb text-center">
                            <div class="section-headline white-headline">
                                <h3>view Staff details </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End breadcumb Area -->
        <div class="feature-area bg-color fix area-padding">
            <div class="container">
              
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="feature-content">
                            <div class="feature-images">
                                <img src="{{ user.profile_image.url }}" alt="Profile Image">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="feature-text">
                            <div class="d-flex">
                                <div class="staf_details">
                                        <p>Name          <span>:</span>{{ user.first_name|default:'' }}{{ user.last_name|default:'' }}</p>
                                        <p>Email  <span>:</span> {{ user.email|default:''}}</p>
                                        <p>Phone          <span>:</span>{{ user.phone|default:'' }}</p>
                                        <p>Date of_Birth <span>:</span> {{ user.date_of_birth|default:'' }}</p>
                                        <p>ReferalCode  <span>:</span> {{ user.referal_code|default:''}}</p>
                                        <p>Pincode          <span>:</span>{{ user.pincode|default:'' }}</p>
                                        <p>User Address  <span>:</span> {{ user.address|default:'' }}</p>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
                
                
       

{% endblock %}