{% extends 'uifiles/base.html' %}
{% load static %}
{% block content %}
        <!-- Start breadcumb Area -->
        <div class="page-area">
            <div class="breadcumb-overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="breadcrumb text-center">
                            <div class="section-headline white-headline">
                                <h3>UNITED STATES OF AMERICA</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End breadcumb Area -->
        <div class="support-service-area fix area-padding-2">
            <div class="container">
                <div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="section-headline text-center">
                            <h3>USA Services</h3>
                            <p>Help agencies to define their new business objectives and then create professional software.</p>
						</div>
					</div>
				</div>
                <div class="row">
                    <div class="support-all">
                      
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="support-services wow  animated" style="visibility: visible;">
                                <a class="support-images" href="#"><i class="flaticon-023-management"></i></a>
                                <div class="support-content">
                                    <h4>VISITOR VISA</h4>
                                    <p>Replacing a  maintains the amount of lines. When replacing a selection. help agencies to define their new business objectives and then create</p>
                                    <br/>
                                    <div class="price-btn blue">
                                        <a class="blue" href="/visito_visa_application/">Apply</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
                
       

{% endblock %}